build:
  maxIssues: 0
  excludeCorrectable: false

processors:
  active: true

config:
  validation: true

comments:
  UndocumentedPublicClass:
    active: false
  UndocumentedPublicFunction:
    active: false
  UndocumentedPublicProperty:
    active: false

complexity:
  CyclomaticComplexMethod:
    active: true
    threshold: 10
  LongMethod:
    active: true
    threshold: 160
  LongParameterList:
    active: false
  LargeClass:
    active: true
    threshold: 600
  TooManyFunctions:
    active: true
    thresholdInClasses: 20
    thresholdInInterfaces: 20
    thresholdInObjects: 20
    thresholdInFiles: 20
  NestedBlockDepth:
    active: true
    threshold: 4
  StringLiteralDuplication:
    active: false




style:
  MagicNumber:
    active: false
  WildcardImport:
    active: true
  ReturnCount:
    active: false
  ThrowsCount:
    active: false

naming:
  FunctionNaming:
    active: false

exceptions:
  TooGenericExceptionCaught:
    active: false
