name: Android CI

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Gradle cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Run Detekt (Cyclomatic complexity)
        run: cd library_app && ./gradlew detekt --stacktrace

      - name: Run Ktlint (Code style)
        run: cd library_app && ./gradlew ktlintCheck --stacktrace

      - name: Run Halstead complexity
        run: cd library_app && ./gradlew halstead --stacktrace

      - name: Unit Tests
        run: cd library_app && ./gradlew test

      - name: Integration Tests
        run: cd library_app && ./gradlew integrationTest

      - name: e2e Tests
        run: cd library_app && ./gradlew e2eTest
